/* Main font - Open Sans
 * https://fonts.google.com/specimen/Open+Sans
 * License: https://openfontlicense.org/
 */

 @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;
    font-display: swap;
    src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
}
  
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;
    font-display: swap;
    src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
}
  
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;
    font-display: swap;
    src: url('fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
}
  
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;
    font-display: swap;
    src: url('fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
}

/* Monospaced font - Hack
 * https://github.com/source-foundry/Hack
 * License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */

@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/hack-regular.woff2?sha=3114f1256') format('woff2');
}
  
@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/hack-bold.woff2?sha=3114f1256') format('woff2');
}
  
@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/hack-italic.woff2?sha=3114f1256') format('woff2');
}
  
@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2');
}
  